{:output-dir "resources/public/js/compiled/devcards_out", :optimizations :none, :preloads [devcards.core figwheel.connect], :output-to "resources/public/js/compiled/minecljs_devcards.js", :source-map-timestamp true, :asset-path "js/compiled/devcards_out", :devcards true, :external-config #:figwheel{:config {:devcards true, :open-urls ["http://localhost:3449/cards.html"], :build-id "devcards", :websocket-url "ws://localhost:3449/figwheel-ws"}}, :main "minecljs.core"}